body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
}

.carousel-item img {
  max-height: 741px; /* Mengatur tinggi maksimum gambar agar sesuai dengan lebar viewport */
  width: auto; /* Lebar gambar menyesuaikan dengan tinggi maksimum */
  margin: auto; /* Posisi gambar di tengah */
  display: block; /* Membuat gambar menjadi blok untuk mengatur margin secara tepat */
}

/* Video Section */
.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card About */
#cardAbout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 2rem;
}

.card-item {
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 300px;
  height: 100%;
  
}

.card-item img {
  transition: transform 0.3s ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-height:260px; 

}

.card-item:hover img {
  transform: scale(1.1);
}

.card-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

/* Img About */
.img-fluid {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.carousel-item {
  position: relative;
  height: 100vh; /* Full viewport height */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers the entire area without stretching */
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  z-index: 10;
  color: #fff;
  text-align: left;
  padding: 50px;
}

.carousel-caption h5 {
  font-size: 4rem; /* Adjust the font size as needed */
  margin-bottom: 1rem;
}

.carousel-caption p {
  font-size: 1.3rem; /* Adjust the font size as needed */
}


:root {
  --primary: #11023d;
}

.navbar {
  background-color: #10013b; 
  height: 60px;
  z-index: 1000; /* Ensure navbar is on top */
}

.carousel {
  margin-top: 60px; /* Compensate for the height of the navbar */
}

.carousel-item img {
  max-height: calc(100vh - 60px); /* Ensure the carousel fits within the viewport */
  object-fit: cover;
}

/* Footer section */
.footer-section {
  background-color: var(--primary);
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-section .socials {
  margin-bottom: 15px;
}

.footer-section .socials a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s;
}

.footer-section .socials a:hover {
  color: #f39c12; /* Warna hover untuk ikon sosial */
}

.footer-section .links {
  margin-bottom: 15px;
}

.footer-section .links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section .links a:hover {
  color: #f39c12; /* Warna hover untuk link */
}

.footer-section .credit {
  margin-top: 10px;
}

.footer-section .credit a {
  color: #f39c12; /* Warna link kredit */
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section .credit a:hover {
  color: white; /* Warna hover untuk link kredit */
}