body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #11023d;
}

.navbar {
  background-color: #10013b;
  height: 60px;
  z-index: 1000;
}

.collapse {
  margin-left: 4rem;
}

.navbar-search {
  margin-right: 10px;
  margin-left: 90px;
}
.navbar-search input {
  background-color: rgba(255, 255, 255, 0.593);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.593);
  padding: 5px 10px;
}

.carousel-item img {
  max-height: 741px; /* Mengatur tinggi maksimum gambar agar sesuai dengan lebar viewport */
  width: auto; /* Lebar gambar menyesuaikan dengan tinggi maksimum */
  margin: auto; /* Posisi gambar di tengah */
  display: block; /* Membuat gambar menjadi blok untuk mengatur margin secara tepat */
}

/* Card Section */
#cardAbout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 2rem;
}

.card-item {
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 300px;
  height: 100%;
}

.card-item img {
  transition: transform 0.3s ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-height: 260px;
}

.card-item:hover img {
  transform: scale(1.1);
}

.card-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.5rem;
  color: #034e98;
  text-align: center;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Card Hover */
.card-item:hover .card-title {
  color: rgb(183, 128, 39); /* Change color on hover */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add a slight text shadow */
}

/* Icons Styling */
.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 1rem;
}

.icons span {
  font-size: 0.9rem;
}

.icons i {
  margin-right: 0.5rem;
  font-size: 1rem;
}

/* Modal Styling */
.modal-content {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #000;
}

.modal-header {
  background-color: #11023d;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-title {
  font-size: 2rem;
  font-weight: bold;
}

.modal-body {
  font-size: 1.2rem;
}

.modal-footer {
  justify-content: center;
  gap: 1rem;
}

/* Img Section */
.img-fluid {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.carousel-item {
  position: relative;
  height: 100vh;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  z-index: 10;
  color: #fff;
  text-align: left;
  padding: 50px;
}

.carousel-caption h5 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.carousel-caption p {
  font-size: 1.3rem;
}

/* Root */
:root {
  --primary: #11023d;
}

.navbar {
  background-color: #10013b;
  height: 60px;
  z-index: 1000;
  margin-top: 60px;
}

.carousel-item img {
  max-height: calc(100vh - 60px);
  object-fit: cover;
}

/* Footer section */
.footer-section {
  background-color: var(--primary);
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-section .socials {
  margin-bottom: 15px;
}

.footer-section .socials a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s;
}

.footer-section .socials a:hover {
  color: #f39c12; /* Warna hover untuk ikon sosial */
}

.footer-section .links {
  margin-bottom: 15px;
}

.footer-section .links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section .links a:hover {
  color: #f39c12; /* Warna hover untuk link */
}

.footer-section .credit {
  margin-top: 10px;
}

.footer-section .credit a {
  color: #f39c12; /* Warna link kredit */
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section .credit a:hover {
  color: white; /* Warna hover untuk link kredit */
}
