:root{
    --primary : #11023d;
}
.navbar {
    background-color:#11023d; 
    background-color: rgba(22, 1, 54, 0.8);

}

.nav-link {
    
    color: rgba(255, 255, 255, 1);
}
.carousel-item img {
    max-height: calc(108vh - 50px); /* 56px adalah tinggi navbar */
    object-fit: cover;
    }

/* Footer section */
.footer-section {
    background-color: #11023d;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-section .socials {
    margin-bottom: 15px;
}

.footer-section .socials a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

.footer-section .socials a:hover {
    color: #f39c12; /* Warna hover untuk ikon sosial */
}

.footer-section .links {
    margin-bottom: 15px;
}

.footer-section .links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section .links a:hover {
    color: #f39c12; /* Warna hover untuk link */
}

.footer-section .credit {
    margin-top: 10px;
}

.footer-section .credit a {
    color: #f39c12; /* Warna link kredit */
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section .credit a:hover {
    color: white; /* Warna hover untuk link kredit */
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}